11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [13]:
import zoo

zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [14]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

Creating books.db from 16.4 and populating to use in 16.8 ----------------------------------------

In [89]:
import csv
books2 = [
    {'title': 'The Weirdstone of Brisingamen', 'author': 'Alan Garner', 'year': '1960'},
    {'title': 'Perdido Street Station', 'author': 'China Miéville', 'year': '2000'},
    {'title': 'Thud!', 'author': 'Terry Pratchett', 'year': '2005'},
    {'title': 'The Spellman Files', 'author': 'Lisa Lutz', 'year': '2007'},
    {'title': 'Small Gods', 'author': 'Terry Pratchett', 'year': '1992'},
    ]
with open('books2.csv', 'wt') as fout:
    cout = csv.DictWriter(fout, ['title', 'author', 'year'])
    cout.writeheader()
    cout.writerows(books2)

In [90]:
import pandas as pd

data = pd.read_csv(r'books2.csv')
df = pd.DataFrame(data)
print(df)

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [91]:
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
(title TEXT PRIMARY KEY,
 author TEXT,
 year INT)''')

In [92]:
data.to_sql('books', conn, if_exists = 'replace', index = False)

5

In [93]:
curs.execute('SELECT * FROM books')

records = curs.fetchall()
for row in records:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [94]:
curs.close()

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [127]:
import sqlalchemy as sa

# Open connection to books.db
conn = sa.create_engine('sqlite:///books.db')

# Creating Metadata Object
meta_data = sa.MetaData(bind=conn)
sa.MetaData.reflect(meta_data)

# Getting 'books' table
BOOKS = meta_data.tables['books']

# Selecting title column and ordering
query = sa.select([BOOKS.c.title]).order_by(books.c.title)

# fetching and viewing results
result = conn.execute(query).fetchall()

for record in result:
    print("\n", record [0])

 Perdido Street Station

 Small Gods

 The Spellman Files

 The Weirdstone of Brisingamen

 Thud!

In [128]:
conn.dispose()